body{
  background-color: #111;
  color: white;
}
#ph{
   border-radius: 50%; 
}

.data{
  display: flex;
  margin: 10px 100px;
}

#demo,#demo1,#demo2{
  margin: 0px 10px;
}

#fullname{
  margin: 0px 111px;
}